# Import Libraries and Read Data

In [32]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

In [33]:
pph_2013 = pd.read_excel('PPH2013.xlsx', sheet_name="POLA KONSUMSI(2013-I)")
pph_2013 = pph_2013.iloc[:,2:]
pph_2013.head()

,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,...,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22
0,KANTOR KETAHANAN PANGAN KABUPATEN BANJAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,KABUPATEN BANJAR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,JL.A.YANI KM 40 GEDUNG BERINTAN LT II MARTAPURA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

# PPH 2013

In [43]:
excel_file = "PPH2013.xlsx"

## Pola Konsumsi Pangan Wilayah

In [34]:
row_to_find = "POLA KONSUMSI PANGAN WILAYAH"
row_to_find_index = pph_2013[pph_2013["Unnamed: 2"]==row_to_find].index.values[0]
row_to_find_index

6

In [35]:
pola_konsumsi_pangan_wilayah = pph_2013.iloc[row_to_find_index+1:]
empty_columns = []

for col in pola_konsumsi_pangan_wilayah:
    first_row = pola_konsumsi_pangan_wilayah.iloc[0][col]
    if first_row is np.nan: empty_columns.append(col)

print(empty_columns)
pola_konsumsi_pangan_wilayah.drop(empty_columns,axis=1,inplace=True)

buah_sayur_koloms = [f"Unnamed: {i}" for i in range(18,22)]

pola_konsumsi_pangan_wilayah.drop(buah_sayur_koloms,axis=1,inplace=True)
pola_konsumsi_pangan_wilayah.head()

['Unnamed: 3', 'Unnamed: 5', 'Unnamed: 7', 'Unnamed: 8', 'Unnamed: 10']

,Unnamed: 2,Unnamed: 4,Unnamed: 6,Unnamed: 9,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 22
7,Wilayah,Karbohidrat,Protein Hewani,Protein Nabati,Lemak,Vitamin dan Mineral,NaN,NaN,NaN,NaN,NaN,NaN
8,Desa Bawahan Pasar,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur...","Kacang Tanah, Kacang Kedelai, Kacang Merah","Minyak kelapa,","Nangka masak, Pepaya masak, Pisang, , Daun sin...",NaN,NaN,NaN,NaN,NaN,NaN
9,Desa Mandi Kapau Timur,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak kelapa, Kelapa,","Pisang kepok,",NaN,NaN,NaN,NaN,NaN,NaN
10,Desa Sungai Besar,"Beras, Jagung,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak sawit,","Pepaya masak, Pisang kepok, Daun singkong, Kac...",NaN,NaN,NaN,NaN,NaN,NaN
11,Desa Tungkaran,"Beras, Terigu, Ubi Jalar,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Kedelai,","Minyak sawit,","Alpokat, Jeruk banjar, Pisang kepok,",NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
pola_konsumsi_pangan_wilayah_column_names = pola_konsumsi_pangan_wilayah.iloc[0]
pola_konsumsi_pangan_wilayah.columns = pola_konsumsi_pangan_wilayah_column_names
pola_konsumsi_pangan_wilayah = pola_konsumsi_pangan_wilayah.iloc[1:,:]

In [40]:
pola_konsumsi_pangan_wilayah = pola_konsumsi_pangan_wilayah[:7]
display(pola_konsumsi_pangan_wilayah)

7,Wilayah,Karbohidrat,Protein Hewani,Protein Nabati,Lemak,Vitamin dan Mineral,NaN,NaN,NaN,NaN,NaN,NaN
8,Desa Bawahan Pasar,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur...","Kacang Tanah, Kacang Kedelai, Kacang Merah","Minyak kelapa,","Nangka masak, Pepaya masak, Pisang, , Daun sin...",NaN,NaN,NaN,NaN,NaN,NaN
9,Desa Mandi Kapau Timur,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak kelapa, Kelapa,","Pisang kepok,",NaN,NaN,NaN,NaN,NaN,NaN
10,Desa Sungai Besar,"Beras, Jagung,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai,","Minyak sawit,","Pepaya masak, Pisang kepok, Daun singkong, Kac...",NaN,NaN,NaN,NaN,NaN,NaN
11,Desa Tungkaran,"Beras, Terigu, Ubi Jalar,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Kedelai,","Minyak sawit,","Alpokat, Jeruk banjar, Pisang kepok,",NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,"Beras, Terigu, Ubi Jalar,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Kedelai, ,","Minyak sawit, Kelapa,","Jeruk manis, Pisang, Pisang kepok,",NaN,NaN,NaN,NaN,NaN,NaN
13,Desa Keladan Baru,"Beras, Ubi Jalar,","Ikan , Daging Unggas, Telur, Susu","Kacang Tanah, Kacang Kedelai,","Minyak sawit,","Nanas, Pepaya masak, Pisang kepok, Daun singko...",NaN,NaN,NaN,NaN,NaN,NaN
14,KABUPATEN BANJAR,"Beras, Terigu,","Ikan , Daging Ruminansia, Daging Unggas, Telur,","Kacang Tanah, Kacang Kedelai, Kacang Merah","Minyak kelapa, Minyak sawit,","Pisang kepok, Kacang panjang,",NaN,NaN,NaN,NaN,NaN,NaN

## FREKUENSI KLMPK PANGAN(2013-I)

In [156]:
def show_frekuensi_kelompok_pangan(excel_file: str, sheet_name: str, buah_name: str):
    df = pd.read_excel(excel_file, sheet_name=sheet_name).iloc[6:]
    df.drop("Unnamed: 0",axis=1,inplace=True)
    df_columns = df.iloc[2]
    nan_columns_indexes = [i for i in range(len(df_columns)) if (df_columns[i] is np.nan)]
    columns_to_modify = ["<3 kali","3-5 kali","6-10 kali",">10 kali","total"]
    for i,mod in zip(nan_columns_indexes,columns_to_modify): df_columns[i] = f"{mod} (%)"
    df.columns = df_columns
    col_to_modify_2_index= [i for i in range(2,11) if i not in nan_columns_indexes]
    for i in col_to_modify_2_index:
        df_columns[i] += " (n)"
    
    kelompok_names = ["1. Frekuensi Konsumsi Sayur-Sayuran","2. Frekuensi Konsumsi Buah-Buahan","3. Frekuensi Konsumsi Umbi-Umbian","4. Frekuensi Konsumsi Pangan Hewani","5. Frekuensi Konsumsi Kacang-Kacangan"]

    df.columns.name = ""

    buah_name = buah_name.lower().strip()
    if buah_name == "sayur":
        print(kelompok_names[0])
        display(df[5:5+7])
    elif buah_name == "buah":
        print(kelompok_names[1])
        display(df[20:20+7])
    elif buah_name == "umbi":
        print(kelompok_names[2])
        display(df[39:39+7])
    elif buah_name == "hewani":
        print(kelompok_names[3])
        display(df[54:54+7])
    elif buah_name == "kacang":
        print(kelompok_names[4])
        display(df[69:69+7])
    

sheet_name = "FREKUENSI KLMPK PANGAN(2013-I)"
buah_names = ["sayur","buah","umbi","hewani","kacang"]
for buah in buah_names:
    show_frekuensi_kelompok_pangan(excel_file, sheet_name,buah)

1. Frekuensi Konsumsi Sayur-Sayuran

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
11,1,Desa Bawahan Pasar,0,0,0,0,2,22.222222,7,77.777778,9,100
12,2,Desa Mandi Kapau Timur,4,33.333333,2,16.666667,3,25,3,25,12,100
13,3,Desa Sungai Besar,0,0,2,16.666667,3,25,7,58.333333,12,100
14,4,Desa Tungkaran,0,0,1,10,4,40,5,50,10,100
15,5,Desa Bincau Muara,0,0,1,12.5,4,50,3,37.5,8,100
16,6,Desa Keladan Baru,2,15.384615,2,15.384615,3,23.076923,6,46.153846,13,100
17,NaN,KABUPATEN BANJAR,6,9.375,8,12.5,19,29.6875,31,48.4375,64,100

2. Frekuensi Konsumsi Buah-Buahan

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
26,1,Desa Bawahan Pasar,11,55.0,6,30,3,15,0,0,20,100
27,2,Desa Mandi Kapau Timur,20,100,0,0,0,0,0,0,20,100
28,3,Desa Sungai Besar,9,45,7,35,4,20,0,0,20,100
29,4,Desa Tungkaran,11,55.0,7,35,2,10,0,0,20,100
30,5,Desa Bincau Muara,8,40,11,55.0,1,5,0,0,20,100
31,6,Desa Keladan Baru,14,70,6,30,0,0,0,0,20,100
32,NaN,KABUPATEN BANJAR,73,60.833333,37,30.833333,10,8.333333,0,0,120,100

3. Frekuensi Konsumsi Umbi-Umbian

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
45,1,Desa Bawahan Pasar,7,36.842105,7,36.842105,5,26.315789,0,0,19,100
46,2,Desa Mandi Kapau Timur,20,100,0,0,0,0,0,0,20,100
47,3,Desa Sungai Besar,15,75,1,5,4,20,0,0,20,100
48,4,Desa Tungkaran,12,60,7,35,1,5,0,0,20,100
49,5,Desa Bincau Muara,12,60,8,40,0,0,0,0,20,100
50,6,Desa Keladan Baru,15,75,4,20,1,5,0,0,20,100
51,NaN,KABUPATEN BANJAR,81,68.067227,27,22.689076,11,9.243697,0,0,119,100

4. Frekuensi Konsumsi Pangan Hewani

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
60,1,Desa Bawahan Pasar,0,0,0,0,3,75,1,25,4,100
61,2,Desa Mandi Kapau Timur,1,20,0,0,2,40,2,40,5,100
62,3,Desa Sungai Besar,0,0,0,0,2,25,6,75,8,100
63,4,Desa Tungkaran,0,0,4,28.571429,6,42.857143,4,28.571429,14,100
64,5,Desa Bincau Muara,0,0,1,14.285714,4,57.142857,2,28.571429,7,100
65,6,Desa Keladan Baru,0,0,0,0,1,10,9,90,10,100
66,NaN,KABUPATEN BANJAR,1,2.083333,5,10.416667,18,37.5,24,50,48,100

5. Frekuensi Konsumsi Kacang-Kacangan

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
75,1,Desa Bawahan Pasar,5,25,3,15,12,60,0,0,20,100
76,2,Desa Mandi Kapau Timur,16,80,4,20,0,0,0,0,20,100
77,3,Desa Sungai Besar,3,15,15,75,2,10,0,0,20,100
78,4,Desa Tungkaran,5,25,15,75,0,0,0,0,20,100
79,5,Desa Bincau Muara,4,20,16,80,0,0,0,0,20,100
80,6,Desa Keladan Baru,14,70,4,20,2,10,0,0,20,100
81,NaN,KABUPATEN BANJAR,47,39.166667,57,47.5,16,13.333333,0,0,120,100

## FREKUENSI KLMPK PANGAN(2013-II)

In [157]:
sheet_name = "FREKUENSI KLMPK PANGAN(2013-II)"
for buah in buah_names:
    show_frekuensi_kelompok_pangan(excel_file, sheet_name,buah)

1. Frekuensi Konsumsi Sayur-Sayuran

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
11,1,Desa Bawahan Pasar,0,0,0,0,2,22.222222,7,77.777778,9,100
12,2,Desa Mandi Kapau Timur,1,9.090909,0,0,3,27.272727,7,63.636364,11,100
13,3,Desa Sungai Besar,0,0,1,12.5,1,12.5,6,75,8,100
14,4,Desa Tungkaran,0,0,1,10,2,20,7,70,10,100
15,5,Desa Bincau Muara,0,0,0,0,4,50,4,50,8,100
16,6,Desa Keladan Baru,2,15.384615,2,15.384615,3,23.076923,6,46.153846,13,100
17,NaN,KABUPATEN BANJAR,3,5.084746,4,6.779661,15,25.423729,37,62.711864,59,100

2. Frekuensi Konsumsi Buah-Buahan

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
26,1,Desa Bawahan Pasar,6,30,5,25,8,40,1,5,20,100
27,2,Desa Mandi Kapau Timur,3,15,1,5,16,80,0,0,20,100
28,3,Desa Sungai Besar,1,5,6,30,11,55.0,2,10,20,100
29,4,Desa Tungkaran,4,20,10,50,6,30,0,0,20,100
30,5,Desa Bincau Muara,2,10,14,70,4,20,0,0,20,100
31,6,Desa Keladan Baru,14,70,6,30,0,0,0,0,20,100
32,NaN,KABUPATEN BANJAR,30,25,42,35,45,37.5,3,2.5,120,100

3. Frekuensi Konsumsi Umbi-Umbian

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
45,1,Desa Bawahan Pasar,5,26.315789,7,36.842105,6,31.578947,1,5.263158,19,100
46,2,Desa Mandi Kapau Timur,4,20,13,65,3,15,0,0,20,100
47,3,Desa Sungai Besar,3,15,11,55.0,6,30,0,0,20,100
48,4,Desa Tungkaran,7,35,12,60,1,5,0,0,20,100
49,5,Desa Bincau Muara,6,30,14,70,0,0,0,0,20,100
50,6,Desa Keladan Baru,15,75,4,20,1,5,0,0,20,100
51,NaN,KABUPATEN BANJAR,40,33.613445,61,51.260504,17,14.285714,1,0.840336,119,100

4. Frekuensi Konsumsi Pangan Hewani

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
60,1,Desa Bawahan Pasar,0,0,0,0,3,75,1,25,4,100
61,2,Desa Mandi Kapau Timur,0,0,0,0,3,60,2,40,5,100
62,3,Desa Sungai Besar,0,0,0,0,2,25,6,75,8,100
63,4,Desa Tungkaran,0,0,4,28.571429,6,42.857143,4,28.571429,14,100
64,5,Desa Bincau Muara,0,0,1,14.285714,4,57.142857,2,28.571429,7,100
65,6,Desa Keladan Baru,0,0,0,0,1,10,9,90,10,100
66,NaN,KABUPATEN BANJAR,0,0,5,10.416667,19,39.583333,24,50,48,100

5. Frekuensi Konsumsi Kacang-Kacangan

,Kode,Nama Desa,<3 kali (n),<3 kali (%),3-5 kali (n),3-5 kali (%),6-10 kali (n),6-10 kali (%),>10 kali (n),>10 kali (%),total (n),total (%)
75,1,Desa Bawahan Pasar,3,15,4,20,12,60,1,5,20,100
76,2,Desa Mandi Kapau Timur,2,10,8,40,10,50,0,0,20,100
77,3,Desa Sungai Besar,1,5,7,35,11,55.0,1,5,20,100
78,4,Desa Tungkaran,4,20,16,80,0,0,0,0,20,100
79,5,Desa Bincau Muara,3,15,16,80,1,5,0,0,20,100
80,6,Desa Keladan Baru,14,70,4,20,2,10,0,0,20,100
81,NaN,KABUPATEN BANJAR,27,22.5,55,45.833333,36,30,2,1.666667,120,100

## Skor PPH(2013-I)

In [41]:
def show_skor_pph(excel_file: str,sheet_name: str):
    pph_2013_skor_pph_2013 = pd.read_excel(excel_file, sheet_name=sheet_name).iloc[6:,1:]
    get_first_three_columns = list(pph_2013_skor_pph_2013.iloc[0:,:3].iloc[0])
    pph_2013_skor_pph_2013 = pph_2013_skor_pph_2013.iloc[1:]
    rest_column_names = list(pph_2013_skor_pph_2013.iloc[0])[2:]
    column_names = get_first_three_columns + rest_column_names
    column_names.remove("Perhitungan Skor Pola Pangan Harapan (PPH)")
    pph_2013_skor_pph_2013 = pph_2013_skor_pph_2013.iloc[2:]
    pph_2013_skor_pph_2013.columns = column_names
    total_row = list(pph_2013_skor_pph_2013.iloc[10:].iloc[0])
    total_row[0] = "10."
    for i in range(len(total_row)):
        if (total_row[i] is np.nan): total_row[i] = '-' 
    pph_2013_skor_pph_2013 = pph_2013_skor_pph_2013.iloc[:9] 
    pph_2013_skor_pph_2013.loc[len(pph_2013_skor_pph_2013)+10] = total_row
    display(pph_2013_skor_pph_2013)
    
sheet_name = "Skor PPH(2013-I)"
show_skor_pph(excel_file,sheet_name)

,No,Kelompok Pangan,Kalori,%,% AKE*),Bobot,Skor Aktual,Skor AKE,Skor Maks,Gap Skor AKE dan Skor Maksimal,Skor PPH
9,1.,Padi-padian,656.842084,56.735712,32.842104,0.5,28.367856,16.421052,25,-8.578948,16.421052
10,2.,Umbi-umbian,57.115594,4.933444,2.85578,0.5,2.466722,1.42789,2.5,-1.07211,1.42789
11,3.,Pangan Hewani,168.772306,14.577959,8.438615,2,29.155918,16.877231,24,-7.122769,16.877231
12,4.,Minyak dan Lemak,119.708249,10.339978,5.985412,0.5,5.169989,2.992706,5,-2.007294,2.992706
13,5.,Buah/Biji Berminyak,6.32858,0.546641,0.316429,0.5,0.27332,0.158215,1,-0.841785,0.158215
14,6.,Kacang-kacangan,45.270415,3.910299,2.263521,2,7.820599,4.527042,10,-5.472958,4.527042
15,7.,Gula,20.593486,1.778793,1.029674,0.5,0.889397,0.514837,2.5,-1.985163,0.514837
16,8.,Sayur dan Buah,80.988491,6.995501,4.049425,5,34.977507,20.247123,30,-9.752877,20.247123
17,9.,Lain-lain,2.103252,0.181672,0.105163,0,0,0,0,0,0
19,10.,Total,1157.722457,100.0,57.886123,-,109.121308,63.166095,100,-,63.166095

## Skor PPH(2013-II)

In [42]:
sheet_name = "Skor PPH(2013-II)"
show_skor_pph(excel_file,sheet_name)

,No,Kelompok Pangan,Kalori,%,% AKE*),Bobot,Skor Aktual,Skor AKE,Skor Maks,Gap Skor AKE dan Skor Maksimal,Skor PPH
9,1.,Padi-padian,677.952328,53.951727,33.897616,0.5,26.975864,16.948808,25,-8.051192,16.948808
10,2.,Umbi-umbian,54.346488,4.324916,2.717324,0.5,2.162458,1.358662,2.5,-1.141338,1.358662
11,3.,Pangan Hewani,179.421851,14.278465,8.971093,2,28.556931,17.942185,24,-6.057815,17.942185
12,4.,Minyak dan Lemak,142.160971,11.313229,7.108049,0.5,5.656614,3.554024,5,-1.445976,3.554024
13,5.,Buah/Biji Berminyak,7.818744,0.622219,0.390937,0.5,0.311109,0.195469,1,-0.804531,0.195469
14,6.,Kacang-kacangan,57.544771,4.579437,2.877239,2,9.158873,5.754477,10,-4.245523,5.754477
15,7.,Gula,26.01775,2.070503,1.300887,0.5,1.035252,0.650444,2.5,-1.849556,0.650444
16,8.,Sayur dan Buah,108.87174,8.664058,5.443587,5,43.320291,27.217935,30,-2.782065,27.217935
17,9.,Lain-lain,2.455949,0.195445,0.122797,0,0,0,0,0,0
19,10.,Total,1256.590592,100.0,62.82953,-,117.177392,73.622004,100,-,73.622004